* {
	font-family: arial !important;
}

header {
	text-align: center;
	position: sticky;
	z-index: 10;
	top: 0;
	background-color: white;
	padding: 10px 0;
	border-bottom: 2px solid lightgray;
}

main {
	font-family: arial;
	max-width: 500px;
	margin: 0 auto;
}

h2,
.message {
	text-align: center;
	font-size: 20px;
}

.group {
	display: inline-block;
}

.group.correct {
	color: darkgreen;
}

.message {
	display: block;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}

.message.hint {
	border-bottom: none;
	text-align: right;
	margin: 0 10px;
}

.message.error {
	color: red;
	border-bottom: none;
	min-height: 30px;
}

.message.statistics {
	border-bottom: none;
	padding: 5px;
	background-color: lightgray;
	border-radius: 10px;
}

.message.victory {
	border-bottom: none;
	margin-bottom: 20px;
}

.colors-row {
	display: flex;
	margin-top: 10px;
}

.colors-row .color {
	width: 100%;
	aspect-ratio: 1;
	box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid gray;
	cursor: pointer;
	outline: none;
	background: url('../icons/icon48.png');
	background-position: center;
	background-repeat: no-repeat;
}

.colors-row.drag .color {
	transition: transform 0.2s;
}

.colors-row .color dialog {
	border: none;
	width: 85vw;
	max-width: 400px;
	box-shadow: 0 0 5px black;
}

.colors-row .color dialog .option {
	display: block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	text-indent: calc(50% - 50px);
	font-size: 15px;
	height: 35px;
	white-space: nowrap;
	background-color: transparent;
	text-align: left;
}

.colors-row .color dialog .option:not(:hover):not(:focus) {
	border-color: transparent;
	box-shadow: none;
}

.colors-row .color dialog .option::before {
	content: "";
	display: inline-block;
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: 0 5px;
	vertical-align: middle;
	background-color: var(--color);
}

#attemptedColorsContainer .colors-row {
	pointer-events: none;
}

#attemptedColorsContainer.opacity .colors-row {
	opacity: 0.6;
}

button,
#gameType,
#colorHintsToSelect select {
	background-color: aqua;
	border: 2px solid gray;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
	font-weight: bold;
	outline: none;
}

button.try {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

button:hover,
#gameType:hover,
#colorHintsToSelect select:hover,
button:focus,
#gameType:focus,
#colorHintsToSelect select:focus,
.colors-row .color:focus,
.colors-row .color:hover {
	border-color: green;
	box-shadow: 0 0 5px black;
}

button:active,
#gameType:active,
#colorHintsToSelect select:active {
	background-color: blue;
}

#newGame,
#gameType,
#settings {
	vertical-align: top;
	height: 40px;
}

#newGame:active,
#gameType:active,
#newGame:hover,
#gameType:hover {
	position: relative;
	z-index: 10;
}

#newGame {
	border-radius: 4px 0 0 4px;
}

#settings {
	border-radius: 4px;
	font-size: 30px;
	line-height: 26px;
}

#gameType {
	width: 30px;
	margin-left: -6px;
	border-radius: 0 4px 4px 0;
}

#gameType option,
#colorHintsToSelect option {
	background-color: white;
}

.popup {
	padding: 20px 40px;
	box-sizing: border-box;
	border: 2px solid yellow;
	border-radius: 10px;
	background-color: white;
	width: 90vw;
	max-width: 600px;
	text-align: center;
}

.popup::backdrop {
	background: repeating-linear-gradient(135deg,
			black,
			black 5px,
			rgba(0, 0, 0, 0.5) 5px,
			rgba(0, 0, 0, 0.5) 10px);
	opacity: 0.6;
}

.popup .colors-row {
	pointer-events: none;
	margin-top: 25px;
}

.settings-form {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}

.settings-form fieldset {
	text-align: left;
	margin: 0 0 10px 0;
	border-radius: 4px;
}

.color-setting {
	cursor: pointer;
	display: inline-block;
}

.color-setting .checkbox,
.color-setting .radio {
	display: inline-block;
	border: 2px solid black;
	border-radius: 3px;
	vertical-align: middle;
	margin-right: 10px;
}

.color-setting .radio {
	border-radius: 50%;
}

.color-setting input {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.color-setting input:disabled+.checkbox,
.color-setting input:disabled+.radio {
	opacity: 0.4;
}

.color-setting input:focus+.checkbox,
.color-setting input:focus+.radio {
	border-color: darkgreen;
	outline: 2px solid darkgreen;
}

.color-setting input:checked+.checkbox::after,
.color-setting input:checked+.radio::after {
	content: "";
	display: block;
	background-color: black;
	width: 60%;
	height: 60%;
	margin: 20%;
	border-radius: 3px;
}

.color-setting input:checked+.radio::after {
	border-radius: 50%;
}

@media screen and (max-width: 768px) {
	.invisible-on-mobile {
		display: none;
	}

	.settings-form {
		margin-bottom: 6px;
	}

	.color-setting {
		width: 50%;
		height: 40px;
		line-height: 30px;
	}

	.color-setting .checkbox,
	.color-setting .radio {
		width: 30px;
		height: 30px;
	}

	.color-setting.nowrap {
		width: 100%;
	}

	.save-btn,
	.cancel-btn {
		width: 100%;
	}

	.cancel-btn {
		margin-top: 20px;
	}

	button {
		padding: 20px;
	}

	#newGame,
	#gameType,
	#settings {
		height: 70px;
	}

	.colors-row .color dialog {
		border-radius: 10px;
		top: revert !important;
		left: revert !important;
	}

	.colors-row .color dialog::backdrop {
		cursor: pointer;
	}

	.colors-row .color dialog .option {
		display: inline-block;
		width: 50%;
		height: 70px;
		padding: 10px 5px;
	}
}

@media screen and (min-width: 769px) {
	.color-setting {
		width: 33.33%;
		height: 30px;
		line-height: 30px;
	}

	.color-setting.nowrap {
		width: 60%;
	}

	.color-setting .checkbox,
	.color-setting .radio {
		width: 20px;
		height: 20px;
	}

	.colors-row .color dialog {
		width: 100px;
		border: 1px solid black;
		position: absolute;
		margin: 0;
		padding: 0;
	}

	.colors-row .color dialog .option {
		border-radius: 0;
	}

	.colors-row .color dialog::backdrop {
		background: transparent;
	}
}